<div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9" style="padding-left:0px">
    <div class="row" style="position:static">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:18px;margin-bottom:40px">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> User
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a style="background:white" [routerLink]="['/login']">Login</a></li>
                        <li class="divider"></li>
                        <li><a style="background:white" href="login">Help</a></li>
                        <li><a style="background:white" href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="background-color:#e9edf2;">
        <h3 style="font-size: 24px;font-weight: 300;color: #74767d;">Create Office</h3>
    </div>
    <form class="needs-validation" style="color:black;font-size:12px;margin-top:20px" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Insurance Company</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Name Of The Office</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Office Code</label>
                <input type="text" class="form-control" id="validationCustom03">
                <!--<div class="invalid-feedback">
                Please provide a valid city.
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">Company Code</label>
                <input type="text" class="form-control" id="validationCustom04">
                <!--<div class="invalid-feedback">
                Please provide a valid state.
            </div>-->
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom05">Address</label>
                <input type="text" class="form-control" id="validationCustom05">
                <!--<div class="invalid-feedback">
                Please provide a valid zip.
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Milestone</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">City</label>
                <input type="text" class="form-control">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Phone Number</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Bank Account</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Incharge</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Designation</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Email Address</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Mobile No.</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">GSTIn</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">State Code</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div>
            <div class="col-md-12 mb-3" style="margin-bottom:100px;margin-top:10px">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SGST Rate</th>
                            <th>CGST Rate</th>
                            <th>UGST Rate</th>
                            <th>IGST Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:30px;margin-bottom:30px">
                <div class="col-md-6">
                    <button class="col-md-12 btn btn-success" type="submit">Save</button>
                </div>
                <div class="col-md-6">
                    <button class="col-md-12 btn btn-default" (click)="goBack()" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>