<style>
    th, td {
        text-align: center;
        padding: 8px;
    }
</style>

<div class="col-sm-offset-3 col-sm-9">
    <div class="row">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:18px;margin-bottom:20px">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> User
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a style="background:white" [routerLink]="['/login']">Login</a></li>
                        <li class="divider"></li>
                        <li><a style="background:white" href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="background-color:#e9edf2;">
        <h3 style="font-size: 24px;font-weight: 300;color: #74767d;">Model Versions</h3>
    </div>

    <div class="row" style="margin-top:39px;">
        <p>
            <a class="btn btn-success btn-sm" style="border-color:#22BAA0; background-color:#22BAA0;" [routerLink]="['/admin/modelversion/createmodelversion']"><span class="glyphicon glyphicon-plus"></span> Add</a>
        </p>
        <div style="overflow-x:auto;">
            <table class='table' style="color:black;font-size:12px">
                <thead>
                    <tr>
                        <th nowrap>Model Id.</th>
                        <th>Model Version</th>
                        <th nowrap>Engine Capacity</th>
                        <th nowrap>Fuel Category</th>
                        <th nowrap>Excess</th>
                        <th nowrap>Model</th>
                        <th nowrap>Vehicle Make Id</th>
                        <th nowrap>Vehicle Make</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <!--<a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a> |
                            <a [routerLink]="" (click)="delete(emp.employeeId)">Delete</a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>