<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="form-gap"></div>
<div class="login-form">
    <form method="post">
        <h2 class="text-center">Login</h2>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                <input id="email" name="email" placeholder="username" class="form-control" type="email">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                <input id="email" name="email" placeholder="password" class="form-control" type="email">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="validation()">Sign in</button>
        </div>
        <p><a [routerLink]="['/forgotpassword']">Lost your Password?</a></p>
    </form>
    <p class="text-center small">Don't have an account? <a href="#">Sign up here!</a></p>
</div>

