<div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9" style="padding-left:0px">
    <div class="row" style="position:static">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:18px;margin-bottom:40px">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> User
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a style="background:white" [routerLink]="['/login']">Login</a></li>
                        <li class="divider"></li>
                        <li><a style="background:white" href="login">Help</a></li>
                        <li><a style="background:white" href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="background-color:#e9edf2;">
        <h3 style="font-size: 24px;font-weight: 300;color: #74767d;">Create Assessment</h3>
    </div>
    <form class="needs-validation" style="color:black;font-size:12px;margin-top:20px" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Assessment No.</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Excess</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Type Of Assessment</label>
                <input type="text" class="form-control" id="validationCustom03">
                <!--<div class="invalid-feedback">
                Please provide a valid city.
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">Towing Charges</label>
                <input type="text" class="form-control" id="validationCustom04">
                <!--<div class="invalid-feedback">
                Please provide a valid state.
            </div>-->
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom05">Subject</label>
                <input type="text" class="form-control" id="validationCustom05">
                <!--<div class="invalid-feedback">
                Please provide a valid zip.
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Salvage</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Deputing Office</label>
                <textarea rows="4" type="text" class="form-control"></textarea>
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Policy Number</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Policy Valid From</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Policy Valid Till</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Under Writing Office</label>
                <textarea rows="2" type="text" class="form-control" id="validationCustom02"></textarea>
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Environment No. & Date</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Payment To</label>
                <input type="text" class="form-control" id="validationCustom01">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div class="form-row">

            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Billing Office</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">IDV</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Insured</label>
                <textarea rows="4" type="text" class="form-control" id="validationCustom02"></textarea>
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Date Of Loss </label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Date Of Instructions </label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Date Of Survey </label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Phone No.</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Date Of Opening Assessment</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Claim No.</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Version</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Workshop</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">GSTIn</label>
                <input type="text" class="form-control" id="validationCustom02">
                <!--<div class="valid-feedback">
                Looks good!
            </div>-->
            </div>
        </div>
        <div class="form-row">

        </div>
        <!--<div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>-->
        <div class="form-row">
            <div class="col-md-12" style="margin-top:30px;margin-bottom:30px">
                <button class="col-md-5 btn btn-success" type="submit">Save</button>
                <a (click)="goBack()" class="btn btn-default col-md-offset-2 col-md-5">Back</a>
            </div>
        </div>
    </form>
</div>